
/* Global */
body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
  'Open Sans', 'Helvetica Neue', sans-serif
}

.App {
  text-align: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */

.App-header {
  margin: 5px 5px;
  padding: 15px 15px;
  background-color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.header-text {
  font-family: 'Ubuntu', sans-serif;
}

.header-text a {
  color: darkblue;
  text-decoration: none;
}

/* Navigation */

.navigation {
  margin: 5px 5px;
  padding: 5px 5px;
}

.navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation__list li {
  text-align: center;
  display: inline;
  margin: 5px;
  padding: 5px;
}

.navigation__list li a {
  color: darkblue;
  text-decoration: none;
}

/* Main */

.main {

}

.main-content {
  margin: 15px 30px;
  padding: 15px 15px;
  display: inline-block;
  max-width: 60%;
}

.main-content p {

}

.section-header {
  margin: 5px 5px;
  padding: 5px 5px;
}

/* Portfolio */

.portfolio {

}

.portfolio__wrap {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-photo__current {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.portfolio__past-projects {
  margin: 5px 5px;
  padding: 10px 10px 10px 10px;
}

.portfolio__past-projects--thumbnail__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio__past-projects--thumbnail { /* https://www.w3schools.com/css/css3_images.asp 1/2/19 */
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.portfolio__past-projects--thumbnail:hover { /* https://www.w3schools.com/css/css3_images.asp 1/2/19 */
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.portfolio__past-projects--thumbnail__img {
  width: 100%;
}

@media only screen and (max-width: 549px) {
  .portfolio__past-projects--thumbnail { /* https://www.w3schools.com/css/css3_images.asp 1/2/19 */
    width: 85%;
  }
}

@media only screen and (min-width: 520px) {
  .portfolio__past-projects--thumbnail { /* https://www.w3schools.com/css/css3_images.asp 1/2/19 */
    width: 30%;
  }
}

@media only screen and (min-width: 800px) {
  .portfolio__past-projects--thumbnail { /* https://www.w3schools.com/css/css3_images.asp 1/2/19 */
    width: 30%;
  }
}

@media only screen and (min-width: 900px) {
  .portfolio__past-projects--thumbnail { /* https://www.w3schools.com/css/css3_images.asp 1/2/19 */
    width: 25%;
  }
}

/* Portfolio Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: absolute;
  background: white;
  width: 100%;
  height: 90%;
  overflow-y: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.closebutton { /* https://stackoverflow.com/questions/10019797/pure-css-close-button */
  float: left;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 1px;
  left: 1px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 30px;
  background: #605F61;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
}

.closebutton:before {
  content: "x";
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.portfolio__infowindow--details{
  text-align: center;
}

.button-group {
  text-align: center;
}

/* Modal Info Window */

.infowindow__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.infowindow__list li {
  text-align: center;
  display: inline;
  margin: 5px;
  padding: 5px;
}

/* Contact Form */

.contact-form {
  width: 75%;
  display: inline-block;
}

.contact-form h2 {

}

.contact-form__input {
  margin: auto;
  padding: 20px 10px 20px 10px;
}

.form-control {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px; 
}

.control-error {
  border: 1px solid red;
}

/* Footer */

.app-footer {
  width: 100%
}

.app-footer__contact-info {
  width: 100%;
}
.app-footer__contact-info--details {
  margin: 10px 10px;
  padding: 5px 10px;
}

.app-footer__social-links {
  width: 100%;
}

.app-footer__social-links--wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 10px;
}

.app-footer__social-links--wrap__svg-icon {

}
.app-footer__social-links--svg-icon {
  margin: 0px 7px 0px 7px;
}