body {
  background-color: rgb(252, 252, 252);
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    text-align: center;

    h1 {
    }

    h3 {
    }
  }

  main {
    .page-links__render {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      li {
        a {
          text-decoration: none;
        }
      }
    }
  }
}
